@model IEnumerable<CA2.Employee>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
       
        <th>
           Reports To
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
       
    </tr>
}

</table>
