body {
}
.tableHead {
    width: 100px;
    position: relative;
    top: auto;
    color: crimson;
}

.rowPointer {
     cursor: pointer;
}
.mainTableDiv {
    width: 920px;
    margin-left: 230px;
    
}
.mainTitle {
    color: crimson;
    font-size: 28px;
    font-family: cursive;
    text-align: center;
}
.legsPosition {
    position: fixed;
   top: 230px;
    right: 80px;
   
}
.newTripHeading {
    color: green;
    font-family: cursive;
}
.image {
    width: 20px;
    height: 20px;
}