body {
    
}
.scrolling {
    display:inline-block;
    height: 50px;
    width: 200px;
  overflow-y: scroll;
}
.mainTableDiv {
    width: 920px;
    margin-left: 50px;
}
.tableHead {
    width: 100px;
    position: relative;
    top: auto;
}
.empDetails {
    position: absolute;

   top: 200px;
    right: 200px;
}
.heading {
    font-size: 20px;
    font-style: italic;
    
}
.rowPointer {
     cursor: pointer;
}
.edit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    margin-top: -150px;

}